* {
  box-sizing: border-box;
  margin:0 auto;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}
header{
  background-color:rgba(59,154,156,1);
}
h1 {
  text-align: center;
}
.header-title{
  padding:50px;
}
.g-nav{
  text-align:center;
}
.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}
.btn-wrap,
a.btn-wrap {
  color: #fff;
  background-color: #eb6100;
}
.btn-wrap:hover,
a.btn-wrap:hover {
  color: #fff;
  background: #f56500;
}
/* .g-nav li{
  display:inline-block;
  list-style:none;
  margin-right:30px;
} */
/* .g-nav li:not(:first-child){
  margin-left:20px;
} */
.skill-list{
  text-align:center;
}
.skill-icon {
  text-align:center;
  position:relative;
  width:25%;
}
.skill-icon p {
  z-index:10;
}
.feature{
  text-align:center;
  clear: left;
  background-color:rgba(254,244,169,1);
}
.about{
  clear: left;
  text-align:center;
  background-color:rgba(120,254,224,1);
}
footer{
  text-align:center;
  background-color:rgba(75,194,197,1);
}