* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}
h1 {
  text-align: center;
}
.skill-icon {
  position:relative;
  width:25%;
}
.skill-icon p {
  z-index:10;
  text-align:center;
}
