* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}
h1 {
  text-align: center;
}
.g-nav{
  text-align:center;
}
.g-nav li{
  display:inline-block;
  list-style:none;
  border-bottom:none;
}
/* .g-nav li:not(:first-child){
  margin-left:20px;
} */
.skill-list{
  text-align:center;
}
.skill-icon {
  text-align:center;
  position:relative;
  width:25%;
}
.skill-icon p {
  z-index:10;
}
.feature{
  text-align:center;
  clear: left;
}
.about{
  clear: left;
  text-align:center;
}
footer{
  text-align:center;
}