* {
  box-sizing: border-box;
  margin:0 auto;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}
header{
  background-color:rgba(59,154,156,1);
}
h1 {
  text-align: center;
  font-size:40px;
}
.header-title{
  padding:50px;
}
.g-nav{
  text-align:center;
  list-style:none;
  padding-bottom: 50px;
}
h2{
  font-size:30px;
}
.g-nav li{
  margin-right:30px;
  display:inline-block;
}
.g-nav a{
  font-size:20px;
  color:black;
}
.btn{
  opacity:0.8;
  background-color:rgba(254,244,169,1);
  border-radius:8px;
  text-decoration: none;
}
.btn:hover{
  opacity:1.0;
}
.btn-wrap{
  margin:20px;
  padding:10px;
}
.skill-list{
  text-align:center;
  margin:30px 0px;
}
.skill-icon {
  text-align:center;
  position:relative;
  margin:50px 140px;
}
.skill-icon p {
  z-index:10;
}
.feature{
  text-align:center;
  clear: left;
  background-color:rgba(254,244,169,1);
  padding:50px;
}
h3{
  font-size:30px;
}
.about{
  clear: left;
  text-align:center;
  background-color:rgba(120,254,224,1);
}
h4{
  font-size:30px;
}
footer{
  text-align:center;
  background-color:rgba(75,194,197,1);
}